/vendor
/.phpunit.result.cache
/node_modules
/public/build
/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.env
database/database.sqlite
.env.*
!.env.example
/run.sh
/runlog.txt
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/public/storage
*.bak.*
/database/database.sqlite
